$main-color: #FFCC33;
$secondary-color: #fff;
$background: #EBEBEB;
$font-color-display-4: rgba(#000, .26);
$font-color-headline: $font-color-display-4;

@import 'smaterial';

:root {
	--font-color-1: $font-color-display-4;
	--font-color-2: $font-color-display-4;
}

main {
	background: var(--background, $background);
	left: 0;
}

form {
	width: 100%;
}

.sc-appbar {
	@include justify-content(center);
	padding-bottom: rem-calc(10px);
	padding-top: rem-calc(10px);

	img {
		flex: none;
		margin: 0 auto;
	}
}

.sc-card {
	background: $white;
	@include flex-container(row, wrap, center, center, flex-start);

	&.home {
		color: var(--main-color, $main-color);
		font-size: rem-calc(40px);
		font-weight: bold;

		@media #{$medium-down} {
			min-height: rem-calc(150px);
		}

		.material-icons {
			color: var(--main-color, $main-color);
			@include square(rem-calc(50px));
			font-size: rem-calc(50px);
		}

		.material-icons, span {
			width: 100%;
		}
	}
}

img {
	height: auto;
	max-width: 100%;
	display: block;
	max-height: 100%;
}

.colored-background {
	background: var(--main-color, $main-color);

	label {
		color: $white;
	}

	.sc-raised-button {
		color: var(--main-color, $main-color);
		background: var(--secondary-color, $secondary-color);

		.material-icons {
			color: var(--main-color, $main-color);
		}

		&:hover {
			color: var(--main-color, $main-color);
			background: var(--secondary-color, $secondary-color);

			.material-icons {
				color: var(--main-color, $main-color);
			}
		}
	}
}

.colored {
	color: var(--main-color, $main-color);
}

.sc-raised-button {
	margin-bottom: rem-calc(10px);
	text-decoration: none !important;
	color: var(--secondary-color, $secondary-color);
	background: var(--main-color, $main-color);

	.material-icons {
		color: var(--secondary-color, $secondary-color);
	}

	&.grey {
		background: var(--background, $background);
	}

	&:hover {
		color: var(--secondary-color, $secondary-color);
		background: var(--main-color, $main-color);

		.material-icons {
			color: var(--secondary-color, $secondary-color);
		}
	}
}

input {
	width: 100%;
	background: rgba($white, .3);
	color: $white !important;
	padding: rem-calc(5px);
	border: none;
	outline: none;
	@include border-radius(var(--border-size, $border-size));

	@include placeholder() {
		color: rgba($white, .6);
	}

	&:hover, &:focus {
		@include placeholder() {
			color: $white;
		}
	}
}

.sc-card-actions {
	padding: rem-calc(10px) 0;
}

.quick-nav {
	position: fixed;
	right: rem-calc(20px);
	bottom: rem-calc(20px);
	background: var(--main-color, $main-color);

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		right: 0;
		bottom: $floating-size + ($floating-sub-size / 2);

		li {
			background: var(--main-color, $main-color);
			@include material-shadow(2);

			a {
				margin-left: 0;
			}
		}
	}
}

.row.divided {
	color: rgba($black, .26);
	font-weight: 500;
	border-bottom: var(--border-size, $border-size) solid rgba($black, .26);
	padding-bottom: var(--gutter, $gutter);

	a {
		color: rgba($black, .26);

		&:hover {
			color: $black;
		}
	}
}

.row .row {
	width: 100%;
	margin-bottom: var(--gutter, $gutter);
	padding: 0;
}

.captcha {
	display: none;
	visibility: hidden;
}

.map-confirmation {
	width: 100%;
	height: rem-calc(350px);
	left: 0;
	position: fixed !important;
	top: $appbar-mobile-portrait-height;

	@media only screen and (orientation: landscape) and (max-width: #{$small-screen}) {
		top: $appbar-mobile-landscape-height;
	}

	@media only screen and (orientation: portrait) and (max-width: #{$xsmall-screen}) {
		top: $appbar-mobile-portrait-height;
	}

	@media #{$small-up} {
		top: $appbar-large-height;
	}
}

.navigation-confirm {
	main {
		background: var(--secondary-color, $secondary-color);
	}

	.details {
		position: inherit;
		font-weight: 500;
		font-size: rem-calc(16px);
		top: rem-calc(350px) + $gutter + $appbar-mobile-portrait-height;

		@media only screen and (orientation: landscape) and (max-width: #{$small-screen}) {
			top: rem-calc(350px) + $gutter + $appbar-mobile-landscape-height;
		}

		@media only screen and (orientation: portrait) and (max-width: #{$xsmall-screen}) {
			top: rem-calc(350px) + $gutter + $appbar-mobile-portrait-height;
		}

		@media #{$small-up} {
			top: rem-calc(350px) + $gutter + $appbar-large-height;
		}
	}
}

a {
	text-decoration: none !important;
}

.error {
	background: $red;
	color: $white;
	font-weight: 500;
}

.address-edit main {
	background: var(--secondary-color, $secondary-color);
}

.navigate-to .sc-card {
	margin-bottom: var(--gutter, $gutter);
}