h1 {
    text-transform: uppercase;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    line-height: 2em;
}

p {margin-bottom: 0;}

#whiteblock {
    padding: 50px;
}

button {
    background: var(--main-color);
    color: white;
    font-weight: bold;
}

button:hover {
    background: white;
    color: black;
}

.settings label, .sc-trigger {
    font-size: .9rem;
}

.text {
    font-weight: bold;
    color: var(--main-color);
    font-size: 14px;
}
